<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Management System</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body style="max-width: 960px; margin: 16px auto; padding: 16px">


	<h3>Employee List</h3>
	<a th:href="@{/showNewEmployeeForm}"
		class="waves-effect waves-light btn">Add new employee</a>
	<div align="center" style="margin-top: 20px">
		<table class="responsive-table striped highlight centered">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="employee: ${listEmployees}">
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					<td th:text="${employee.email}"></td>
					<td><a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}"
						class="waves-effect waves-light btn">Update</a></td>
					<td><a th:href="@{/delete/{id}(id=${employee.id})}"
						class="waves-effect waves-light btn red litghten-2">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>